<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <header>
    <nav class="barra-inicial">Administrador de tareas</nav>
   </header>
   
   <div class="inputs">
    <input type="text" name="Campo1" id="" placeholder="Campo1">
    <input type="text" name="Campo2" id="" placeholder="Campo2">
    <input type="text" name="Campo3" id="" placeholder="Campo3">
   </div>

   <table>
     <thead>
       <td>#</td>
       <td>Materia</td>
       <td>uv</td>
       <td>Descipcion</td>
     </thead>
   </table>

  </body>
</html>
