<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Kumar+One+Outline" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 
</head>

<body>
  <header>
    <nav class="barra-inicial">Redes sociales</nav>
  </header>

  <div class="inputs">
    <form action="/api/posts" method="POST" name="form"> 
      <input type="text" name="Campo1" id="input" placeholder="Nombre ">
      <input type="text" name="Campo2" id="input" placeholder="Creador">
      <input type="submit" id="input" class="submit" value="Guardar">
    </form>

  </div>

  <table>
    <thead class="thead">
      <td>#</td>
      <td>Nombre</td>
      <td>Creador</td>
      <td>Conexiones</td>
      <td>Opciones</td>
    </thead>

    <tbody class="tbody">

    </tbody>
  </table>
 
  <source src="../public/javascripts/main.js">
</body>

</html>